/* generales */

.index_main{
  width: 90%;
  margin: 0 auto;
  border: 0 10px;
}

body {
height: 100vh;
box-sizing: border-box;
background-image: var(--imagen-fondo);
}

.contenedor_crear{
  border-radius: 50px 0 0 50px;
  box-shadow: 2px 2px 5px rgba(33, 33, 33, 0.2);
  text-align: center; 
  display: flex; 
  width:100%;
  background-color: #F5F5F5;
}

.Org_edit{
  width: 100%;
 height: 700px;
  overflow: auto;
  cursor: grab;
  
}
.dragging {
  cursor: grabbing;
}

.barra_v{
  padding:10px;
  width: 40%;
  border-radius: 50px 0 0 50px;
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--color-de-fondo);
 

}
.info_user{
  margin: auto 40px;
}
/* titulos y textos: */
.titullo{
  text-align: start;
}

h1 {
  font-family: "Rowdies-Regular";
  font-size: 32px;
  color:white;
  font-weight: normal;
  font-style: normal;

}

h2 {
  font-family: "Jaldi-Regular";
  font-style: normal;
  color: white;
  font-size: 24px;
  text-transform: uppercase;
}

.spantitulo {
  font-family: "Rowdies-Regular";
  font-size: 24px;
  color: white;
}

p{
  color: white;
  font-family: "Jaldi-Regular", sans-serif;
  font-size: 20px;
}


.botones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.botonC{
  margin: 5px 0;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Jaldi-Bold', sans-serif;
  color: white;
  text-decoration: none;
  font-size: 24px;
  border-radius: 14px;
  width: 70%;
  height: 58px;;
  gap: 10px;
}
.botonT{
  margin-left: 10px; 
  margin-top: 10px;
  padding: 10px 15px;
  background-color: var(--color-de-fondo);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Jaldi-Bold', sans-serif;
  color: white;
  text-decoration: none;
  font-size: 24px;
  border-radius: 14px;
  width:auto;
  gap: 10px;
}

.titullo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.formulariodiv {
  display: flex;
  flex-direction: column; /* Cambiar la dirección a columnas */
  gap: 10px;
  align-items: center; /* Alinear los elementos horizontalmente en el centro */
  width: 90%;
}
.campos{
  display: flex;
  flex-direction: row; /* Cambiar la dirección a fila */
  gap: 10px;
  align-items: center;
  width: 100%;
}
#formularioEdicion{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  
  
 }


.formulario{
  background-color: #EBEBEB;
  border-radius: 19px;
  padding: 17px;
  display: flex;
  flex-direction: column;
  font-family: "Jaldi-Regular", sans-serif;
  font-style: normal;
  
}

.agregar{
  width: 90%;
}

.formulario label{
  font-weight: bold;
}
.formulario .check{
  color:var(--color-de-fondo);

}

.formulario h2{
  color:var(--color-de-fondo);
}
.formulario .semititulo{
  text-align: start;
  font-size: 20px;
  color:var(--color-de-fondo);
}
/* ---------diseño input textarea-------- */
.formulario textarea, .text{
  text-align:justify;
  color: #333333;
  border-radius: 14px;
  font-family: "Jaldi-Regular", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size:16px; 
}
.formulario textarea:focus{
  outline: none;
  border: 2px solid var(--color-de-fondo);
}
/* ---------diseño input img-------- */
.inputfile {
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  
}
.iborrainputfile  label {
font-size:16px; 
text-align: start;
}

.botonesconfim{
  margin-left: auto;
}
.botonesconfimT{
  display: flex;
  justify-content: flex-end;
}
.botonesconfim .btnC, .btnD{
  width: 80%;
  opacity: 0.8;
  text-align: center;
  font-family: "Jaldi-Regular", sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  padding: 1px 7px;
  margin-left: 10px;

}
.btnC{
  background-color: var(--color-de-fondo);
  color: white;
}
.btnD{
  background-color: white;
  color:  var(--color-de-fondo);
}





/* style 1 */
.inputfile-1 + label {
  background-color: #ffffff;
  border-radius: 14px;
  display: flex;
  justify-content: space-between;
  padding: 3px 10px;
  color:var(--color-de-fondo);
}
.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
  border: 2px solid var(--color-de-fondo);
}
/* desplegable-------------------- */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: none;
}

#custom-alert {
  
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 10000;
  display: none;
  width: 30%;
}

#custom-alert h2 {
  margin-top: 0;
  color: #333333;
  text-align: center;
}

#custom-alert p {
  margin-bottom: 20px;
  color: #333333;
  text-align: center;

}
.aviso{
  display: flex;
  align-items: center;
  justify-content: center;
}

#custom-alert a{
  margin-right: 10px;
  padding: 10px 20px;
  background-color: var(--color-de-fondo);
  border: none;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  font-family: "Jaldi-Regular", sans-serif;
  font-size: 20px
}


/* AVISOS */
.contenedoraRta{
  display: flex;
  align-items: center;
  justify-content: center;  

}
.alert-danger {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  border-radius: 10px;
  padding: 10px 20px;
  width: auto;
  height: auto;
}

.alert-danger p{
    font-family: "Jaldi-Regular", sans-serif;
    font-size: 16px;
    color: #ffffff;
}


/*TEXTO*/
  
@font-face {
  font-family: 'Jaldi-Regular';
  src: url('../FONTS/Jaldi-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Jaldi-Bold';
  src: url('../FONTS/Jaldi-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/*TITULOS*/
@font-face {
  font-family: 'Rowdies-Regular';
  src: url('../FONTS/Rowdies-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rowdies-Bold';
  src: url('../FONTS/Rowdies-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* //  personalizar el aspecto del overflow: auto;////// */

/* Cambiar el color de la barra de desplazamiento */
::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra de desplazamiento */
  background-color: #98e199; /* Color de fondo */
}

/* Cambiar el color del riel de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background-color: #EBEBEB;
}

/* Cambiar el color del pulgar (la parte desplazable) de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background-color: #333333;
}

/* Cambiar el color del pulgar cuando se pasa el mouse sobre él */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
