 .formulario{
  padding-top: 150px;
 }
 .contenedor {
    width: 50%;
    margin: 0 auto;
    padding: 30px 70px;
    background-color:#D9D9D9;
    border-radius: 50px;
    box-shadow: 2px 2px 5px rgba(33, 33, 33, 0.2);
  }
  .contenedor label{
    /*texto*/
  font-family: 'Jaldi-Regular', sans-serif;
  font-size: 22px;

  }



  .titulo {
    text-align: center;
    color: var(--color-de-fondo);
    /*texto*/
    font-family: 'Rowdies-Regular', sans-serif;
  }

  .entrada {
    padding-top: 16px;
  }

  .form_boton{
    padding-top: 20px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form_boton input{
    background-color:var(--color-de-fondo);
    border-radius: 18px; 
    width: 350px;
    height: 60px;
    border: none;
    /*texto*/
    font-family: 'Jaldi-Bold', sans-serif;
    font-size: 24px;
    color: white;
    

  }
  .cambCnt{
    text-align:right;
    font-family: 'Jaldi-Bold', sans-serif;
    font-size: 22px;
   
    color: var(--color-de-fondo);

  }

  .btn{
    cursor: pointer;
    filter: opacity(0.5);

  }

  .entrada input{
    border-radius: 18px; 
    width: 100%;
    padding: 1rem;
    border: none;
    font-family: 'Jaldi-Regular', sans-serif;
    font-size: 22px;
    
  }
  .entrada input:focus {
    outline: none;
    border: 5px solid var(--color-de-fondo);
  }

  .registrarse{
    font-family: 'Jaldi-Regular', sans-serif;
    font-size: 22px;
    color: var(--color-de-fondo);
    text-align: center;
    padding-top: 16px;
  }

  .registrarse a{
    color: var(--color-de-fondo);
    font-weight: bold;
  }
  


  @media (max-width: 1200px) {
    .contenedor {
      padding: 30px 50px;
      width: 70%;
    }
  }
  @media (max-width: 600px) {
    .contenedor {
      padding: 30px;
      width: 85%;
     
    }
  }


/*   Validaciones: */

.error {
  background-color:#ff8484
}
.contrasena{
  position: relative;
}

 .mostrar-password {
  position: absolute;
  z-index: 1;
  bottom: 6px;
  right: 20px;
  cursor: pointer;
  opacity: 0.5;
} 
.mostrar-password path {
  fill: var(--color-de-fondo);
  
}
