.contenedor label {
  /*texto*/
  font-family: "Jaldi-Regular", sans-serif;
  font-size: 22px;
}

.titulo {
  text-align: center;
}

.entrada {
  padding-top: 16px;
}
.formPrincipal {
  display: flex;
  gap: 20px;
}
.formPrincipal > * {
  flex-grow: 1;
  flex-basis: 0;
}
.bloque_form {
  display: flex;
  flex-direction: column;
}

.entrada textarea {
  text-align: justify;
}

.entradaimg {
  background-color: var(--color-de-fondo);
  border-radius: 18px;
  display: block;
  align-items: center;
}

.entrada input,
select,
textarea {
  border-radius: 18px;
  width: 100%;
  padding: 1rem;
  border: none;
  font-family: "Jaldi-Regular", sans-serif;
  font-size: 22px;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../Recursos/flecha_select.png");
  background-repeat: no-repeat;
  background-position: right 0.7em top 50%;
  background-size: 20px auto;
}

.entrada input:focus,
select:focus,
textarea:focus {
  outline: none;
  border: 5px solid var(--color-de-fondo);
}

#vista-previa {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 10px;
}

.registrarse {
  font-family: "Jaldi-Regular", sans-serif;
  font-size: 22px;
  color: var(--color-de-fondo);
  text-align: center;
  padding-top: 16px;
}

.registrarse a {
  color: var(--color-de-fondo);
  font-weight: bold;
}

@media (max-width: 1200px) {
  .contenedor {
    padding: 30px 50px;
    width: 75%;
  }
  h1 {
    font-size: 40px;
  }

  .formPrincipal {
    display: grid;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .contenedor {
    padding: 30px;
    width: 90%;
  }
  h1 {
    font-size: 32px;
  }
}

/*   Validaciones: */
.contrasena {
  position: relative;
}
.mostrar-password {
  position: absolute;
  z-index: 1;
  bottom: 6px;
  right: 20px;
  cursor: pointer;
  opacity: 0.5;
}
.mostrar-password path {
  fill: var(--color-de-fondo);
}

/* input img */
.inputportada {
  padding-top: 16px;
}
.cuadrosubida {
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-de-fondo);
  border-radius: 20px;
}
.cuadro {
  margin: 10px;
  position: relative;
  width: 90%;
  height: 90%;
  border: 2px dashed white;
  text-align: center;
  border-radius: 19px;
}

.imagen-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.imagen-label:hover #imagen {
  filter: brightness(0.5);
}

#input-imagen {
  opacity: 0;
}

input:disabled {
  color: 999999;
  background-color: white;
  filter: brightness(0.7);
}

.imagen-carga {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.imagen-label:hover #c {
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#imagen {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 17px;
}

#imagenC {
  max-width: 100%;
  max-height: 100%;
}

#texto {
  max-width: 100%;
  margin-top: 10px;
  font-size: 12px;
  color: white;
}

/* //terminos y condiciones// */

.terminos {
  margin-top: 40px;
  padding: 10px;
}
.terminos .checkbox-custom {
  transform: scale(3);
  margin-right: 20px;
  border-color: #ff0000;
}

.terminos span {
  color: var(--color-de-fondo);
  cursor: pointer
}
