.index_main{
  width: 70%;
  margin: 0 auto;
  padding-top: 70px;
}
.encabezado {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  gap:50px;
}

.encabezado__imagen {
  margin-right: 32px;
}

.encabezado__informacion {
  display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  background-color: white;
  border-radius: 32px;
  padding: 40px;
  box-shadow: 2px 2px 5px rgba(33, 33, 33, 0.2);
  gap:30px;
  
}

.texto {
  font-family: 'Jaldi-Regular', sans-serif;
  font-weight: normal;
  font-size: 20px;
}

.encabezado__titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap:50px;
}



.encabezado__item path {
  fill: var(--color-de-fondo);
}

.encabezado__item path:nth-child(2),
.encabezado__item path:nth-child(6),
.encabezado__item path:nth-child(8) {
  opacity: 0.5;
}

.titulo {
  font-family: 'Rowdies-Regular', sans-serif;
  font-weight: normal;
  color: var(--color-de-fondo);
}

.encabezado__titulo .titulo{
  font-size: 43px;
}

.encabezado__titulo span{
  font-size: 30px;
}

.encabezado__boton {
  padding: 15px 30px;
  background-color:var(--color-de-fondo);
  color: white;
  text-align: center;
  font-family: 'Jaldi-Regular', sans-serif;
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
  border-radius: 18px;
  transition: all 0.2s ease-in-out;
}
/*información*/
.info{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  
 
}

.info_fondo{
  display: flex;
  justify-content: center;
  align-items: end;
  gap:30px;

  background-color: white;
  padding: 30px;
  border-radius: 50px;
  box-shadow: 2px 2px 5px rgba(33, 33, 33, 0.2);
  width: 100%;
  z-index: -1;
}
.contenedor_info{
  
  position: relative;  
  background-color:var(--color-de-fondo);
  border-radius: 32px;
  padding: 5px 30px;
  
}
.contenedor_info .titulo{
  font-size: 30px;
  color: white;
  text-align: center;  

}
.contenedor_info .texto{
  color: white;
  text-align: center;

}

.info_img{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 160px;
  height: 160px;
  background-color: #E8E8E8;
  border-style: solid;
  border-radius: 100px;
  border-width: 7px;
  border-color: var(--color-de-fondo);
  filter: brightness(1.2);

  /*--------------*/
  position: absolute;
  top: -40px;
  left: 0;
  right: 0;
  bottom: 100%;
  margin: auto;
}
.espacio{
  padding-top: 60px;
}

@media (max-width: 1600px) {

  .contenedor_info .titulo{
    font-size: 25px;
  
  }
  .index_main{
    width: 80%;
  }
}

@media (max-width: 1000px) {
  .encabezado__informacion {
    gap:10px;
    
  }
  .index_main{
    width: 90%;
  }
  
 
  .titulo {
    font-size: 30px;
  }


  
  .encabezado{
    display: grid;
    justify-content: center;
    align-items: center;
    gap:10px;
  }
  .encabezado__imagen img {
    display: block; 
    margin: 0 auto; 
  }
  
}

@media (max-width: 950px) {
  .info_fondo {
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    gap:130px;
  }


  
  
  
  
 
}
