
.encabezado {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:50px;
}

.principal{
  display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  padding: 40px;
  gap:30px;
}

.infoF{
  display: flex;
  justify-content: center;
  align-items: end;
  gap:30px;
  padding: 30px;
  z-index: -1;
}

.encabezado__imagen {
  margin-right: 32px;
}

.encabezado__titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap:50px;
}

.encabezado__item path {
  fill: var(--color-de-fondo);
}

.encabezado__item path:nth-child(2),
.encabezado__item path:nth-child(6),
.encabezado__item path:nth-child(8) {
  opacity: 0.5;
}

/*información*/
.info{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
 
  padding-top: 100px; 
}


.contenedor_info{
  flex: 1;
  height:100%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  
  position: relative;  
  background-color:var(--color-de-fondo);
  border-radius: 32px;
  padding: 5px 30px;
 
}

.contenedor_info .titulo{
  font-size: 30px;
  color: white;
  text-align: center;  
}
.contenedor_info .texto{
  color: white;
  text-align: center;
}

.info_img{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 160px;
  height: 160px;
  background-color: #E8E8E8;
  border-style: solid;
  border-radius: 100px;
  border-width: 7px;
  border-color: var(--color-de-fondo);
  filter: brightness(1.2);

  /*--------------*/
  position: absolute;
  top: -40px;
  left: 0;
  right: 0;
  bottom: 100%;
  margin: auto;
}

.espacio{
  padding-top: 60px;
}

@media (max-width: 1600px) {

  .contenedor_info .titulo{
    font-size: 25px;
  
  }
  .index_main{
    width: 80%;
  }
}

@media (max-width: 1000px) {
  .principal {
    gap:10px;
    
  }
  .index_main{
    width: 90%;
  }
  
 
  .titulo {
    font-size: 30px;
  }


  
  .encabezado{
    display: grid;
    justify-content: center;
    align-items: center;
    gap:10px;
  }
  .encabezado__imagen img {
    display: block; 
    margin: 0 auto; 
  }
  
}

@media (max-width: 950px) {
  .infoF {
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    gap:130px;
  }


  
  
  
  
 
}
